In [2]:
# System imports
import os
import sys

# Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from matplotlib.patches import Ellipse
import seaborn as sns

# signal processing
from scipy import signal
from scipy.ndimage import label
from scipy.stats import zscore
from scipy.interpolate import interp1d
from scipy.integrate import trapz

import warnings

In [8]:
patient_info = pd.read_csv("hyperaktiv/patient_info.csv", sep=";", index_col="ID")

In [9]:
patient_info.head()

,SEX,AGE,ACC,ACC_TIME,ACC_DAYS,HRV,HRV_TIME,HRV_HOURS,CPT_II,ADHD,...,HADS_D,MED,MED_Antidepr,MED_Moodstab,MED_Antipsych,MED_Anxiety_Benzo,MED_Sleep,MED_Analgesics_Opioids,MED_Stimulants,filter_$
ID,,,,,,,,,,,,,,,,,,,,,
1,0,3,1,16:00:00,6.0,1,11:00:00,21.0,0,1,...,2.0,1,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1
2,0,4,1,10:54:00,6.8,0,NaN,NaN,1,1,...,7.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,1,2,1,15:28:00,7.2,1,15:25:00,21.0,1,1,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
4,1,3,0,NaN,NaN,1,16:55:00,22.0,1,1,...,6.0,1,1.0,NaN,NaN,1.0,NaN,1.0,NaN,0
5,1,1,1,14:24:00,5.9,1,16:00:00,12.0,1,1,...,5.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [13]:
# Load HRV data in

HRV_1 = pd.read_csv("hyperaktiv/hrv_data/patient_hr_1.csv", sep=";")

HRV_1.head()

                 TIMESTAMP      HRV
0  2009-03-04 11:00:00.000  2294.92
1  2009-03-04 11:00:02.295   631.84
2  2009-03-04 11:00:02.927   624.02
3  2009-03-04 11:00:03.551   636.72
4  2009-03-04 11:00:04.188   625.98